<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Vis. Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Visibility prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="T" placeholder="Avg. Temp. (°C)" required="required" />
        <input type="text" name="TM" placeholder="Max. Temp. (°C)" required="required" />
		<input type="text" name="Tm" placeholder="Min. Temp. (°C)" required="required" />
		<input type="text" name="H" placeholder="Avg. Rel. Humid. (%)" required="required" />
		<input type="text" name="V" placeholder="Avg. Wind. Speed (Km/h)" required="required" />
		<input type="text" name="VM" placeholder="Max. Sus. Wind. Speed (Km/h)" required="required" />
		<input type="text" name="VG" placeholder="Max. Wind. Speed (Km/h)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   {{ prediction_text }}

 </div>


</body>
</html>
